/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.28vw;
}

/* Common features to the four quotes */
#one, #two, #three, #four {
  position:fixed;
  margin: 5px;
  padding: 5px;
  width: 25%;
  border-style: solid;
  border-width: 5px;
}

/* Quotes' specific features */
#one {
  bottom: 0px;
  right: 0px;
  border-color: blue;
}
#two {
  top: 0px;
  right: 0px;
  border-color: green;
}
#three {
  top: 0px;
  left: 0px;
  border-color: orange;
}
#four {
  bottom: 0px;
  left: 0px;
  border-color: yellow;
}

/* Link features */
#link a {
  position: fixed;
  top: 0px;
  left: 50%;
  margin: 5px;
  display: inline-block;
  transform: translateX(-50%);
  color: #fefefe;
  text-shadow: 0px 1px 0px #3c58c7;
  background-color: #2f418e; /* Background from the Navigation Bar */
  text-decoration: none;
}
#link a:link {}
#link a:visited {}
#link a:hover {}
#link a:active { background-color: #354eb1; } /* Active link background */
