CREATE TABLE BCSYS_ATIVO
(
ATV_CODIGO VARCHAR(20) NOT NULL,
ATV_FLG_ATIVO CHAR(1) NULL,
ATV_DAT_DATAHORA DATETIME NULL,
ATV_DES_VOL VARCHAR(50) NULL,
ATV_DES_VAR VARCHAR(50) NULL,
ATV_DES_MOC VARCHAR(50) NULL,
ATV_DES_MOV VARCHAR(50) NULL,
ATV_DES_AMC VARCHAR(50) NULL,
ATV_DES_AMV VARCHAR(50) NULL,
ATV_DES_PRC VARCHAR(50) NULL,
ATV_DES_PRV VARCHAR(50) NULL,
ATV_DES_PCE VARCHAR(50) NULL,
ATV_DES_DTV VARCHAR(50) NULL,
ATV_DES_LOT VARCHAR(50) NULL,
ATV_DES_RET VARCHAR(50) NULL,
ATV_DES_AJU VARCHAR(50) NULL,
ATV_DES_DUT VARCHAR(50) NULL,
ATV_DES_DCO VARCHAR(50) NULL,
ATV_DES_LIM VARCHAR(50) NULL,
ATV_DES_ULT VARCHAR(50) NULL,
ATV_DES_UL1 VARCHAR(50) NULL,
ATV_DES_UL2 VARCHAR(50) NULL,
ATV_DES_UL3 VARCHAR(50) NULL,
ATV_DES_CPA VARCHAR(50) NULL,
ATV_DES_VDA VARCHAR(50) NULL,
ATV_DES_MAX VARCHAR(50) NULL,
ATV_DES_MIN VARCHAR(50) NULL,
ATV_DES_ABE VARCHAR(50) NULL,
ATV_DES_QET VARCHAR(50) NULL,
ATV_DES_FEC VARCHAR(50) NULL,
ATV_DES_CAB VARCHAR(50) NULL,
ATV_DES_QUL VARCHAR(50) NULL,
ATV_DES_QCP VARCHAR(50) NULL,
ATV_DES_QVD VARCHAR(50) NULL,
ATV_DES_EVL VARCHAR(50) NULL,
ATV_DES_AGC VARCHAR(50) NULL,
ATV_DES_AGV VARCHAR(50) NULL,
ATV_DES_NEG VARCHAR(50) NULL,
ATV_DES_MED VARCHAR(50) NULL,
ATV_DES_HOR VARCHAR(50) NULL,
ATV_DES_EQU VARCHAR(50) NULL,
ATV_DES_DIF VARCHAR(50) NULL,
ATV_DES_P12 VARCHAR(50) NULL,
ATV_DES_DTA VARCHAR(50) NULL,
ATV_DES_PMS VARCHAR(50) NULL,
ATV_DES_PAN VARCHAR(50) NULL,
ATV_DES_CP2 VARCHAR(50) NULL,
ATV_DES_CP3 VARCHAR(50) NULL,
ATV_DES_CP4 VARCHAR(50) NULL,
ATV_DES_CP5 VARCHAR(50) NULL,
ATV_DES_VD2 VARCHAR(50) NULL,
ATV_DES_VD3 VARCHAR(50) NULL,
ATV_DES_VD4 VARCHAR(50) NULL,
ATV_DES_VD5 VARCHAR(50) NULL,
ATV_DES_PC2 VARCHAR(50) NULL,
ATV_DES_PC3 VARCHAR(50) NULL,
ATV_DES_PC4 VARCHAR(50) NULL,
ATV_DES_PC5 VARCHAR(50) NULL,
ATV_DES_PV2 VARCHAR(50) NULL,
ATV_DES_PV3 VARCHAR(50) NULL,
ATV_DES_PV4 VARCHAR(50) NULL,
ATV_DES_PV5 VARCHAR(50) NULL,
ATV_DES_AC2 VARCHAR(50) NULL,
ATV_DES_AC3 VARCHAR(50) NULL,
ATV_DES_AC4 VARCHAR(50) NULL,
ATV_DES_AC5 VARCHAR(50) NULL,
ATV_DES_AV2 VARCHAR(50) NULL,
ATV_DES_AV3 VARCHAR(50) NULL,
ATV_DES_AV4 VARCHAR(50) NULL,
ATV_DES_AV5 VARCHAR(50) NULL,
PRIMARY KEY (ATV_CODIGO)
);

