<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    Níveis de configuração do Serilog:
    1-Verbose - informações de rastreamento e minúcias de depuração; geralmente apenas ligado em situações incomuns
    2-Debug - fluxo de controle interno e dumps de estado de diagnóstico para facilitar a identificação de problemas reconhecidos
    3-Information - eventos de interesse ou que tenham relevância para observadores externos; o nível de registro mínimo ativado padrão
    4-Warning - indicadores de possíveis problemas ou degradação de serviço / funcionalidade
    5-Error - indicando uma falha no aplicativo ou no sistema conectado
    6-Fatal - erros críticos que causam falha completa do aplicativo-->
    <add key="CMA.StreamerFeed.Api:serilog:minimum-level" value="Information" />
    <add key="CMA.StreamerFeed.Api:serilog:using:File" value="Serilog.Sinks.File" />
    <add key="CMA.StreamerFeed.Api:serilog:write-to:File.path" value=".\log\CMA.StreamerFeed.log" />
    <add key="CMA.StreamerFeed.Api:serilog:write-to:File.rollingInterval" value="Day" />
    <add key="CMA.StreamerFeed.Api:serilog:write-to:File.shared" value="true" />
    <add key="CMA.StreamerFeed.Api:proxy:url" value="" />
    <!--Ex.: "http://myproxyserver"-->
    <add key="CMA.StreamerFeed.Api:proxy:user" value="" />
    <add key="CMA.StreamerFeed.Api:proxy:password" value="" />
    
    <!--Quantidade Máxima de objetos no Cache-->
    <add key="CMA.StreamerFeed.Api:cache-manager:SizeLimit" value="1000" />
    <!--Quantidade de horas para um objeto expirar no cache-->
    <add key="CMA.StreamerFeed.Api:cache-manager:AbsoluteExpirationHours" value="24" />

    <!--Quantidade de horas para um login expirar no cache-->
    <add key="CMA.StreamerFeed.Api:acceptor-logins:SlidingExpirationHours" value="1" />
    
  </appSettings>
</configuration>
