<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Configurações para login no Acceptor -->
    <add key="InstanceName" value="TesteCMA-API-V1" />
    <add key="AcceptorUrl" value="http://acceptor.cma.com.br:9080/acceptor" />
    <add key="DomainId" value="streamerfeedapi" />
    <add key="Channel" value="API" />
    <add key="User" value="user" />
    <add key="Password" value="123" />
    <add key="Signature" value="" />
    <add key="Service" value="o" />
    <add key="CustomerId" value="" />
    <add key="IpRemote" value="127.0.0.1" />
    <add key="HostName" value="cma.local" />
    <add key="Transport" value="Polling" />
    <!-- Configurações para login no Acceptor utilizando Token (se não informado LoginTokenSecretKey não usa Token) 
    <add key="LoginTokenSecretKey" value="PASSWORD_VALUE" />
    <add key="LoginTokenIvKey" value="IV_VALUE_16_BYTE" />
    <add key="LoginTokenSaltKey" value="SALT_VALUE" />
    <add key="LoginTokenSaltIterations" value="65536" />
    <add key="LoginTokenKeyLength" value="128" />
    -->
    <!-- Funções para o WinFormAPITester -->
    <add key="CalcularTempo" value="S" />
    <add key="QuotesAll" value="S" />
    <!-- Configurações do Log CMA StreamerFeed Api -->
    <add key="CMA.StreamerFeed.Api:serilog:minimum-level" value="Information" />
    <add key="CMA.StreamerFeed.Api:serilog:using:File" value="Serilog.Sinks.File" />
    <add key="CMA.StreamerFeed.Api:serilog:write-to:File.path" value=".\log\CMA.StreamerFeed.log" />
    <add key="CMA.StreamerFeed.Api:serilog:write-to:File.rollingInterval" value="Day" />
    <add key="CMA.StreamerFeed.Api:serilog:write-to:File.shared" value="true" />
    <!-- Configurações do CMA StreamerFeed Api -->
    <add key="TimerCheckAcceptor" value="5" />
    <add key="PercentageActiveSessions" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Configurações do CMA StreamerFeed Api para uso do Proxy (se não informado proxy:url não usa Proxy) 
    <add key="CMA.StreamerFeed.Api:proxy:url" value="http://10.0.13.16:808" />
    <add key="CMA.StreamerFeed.Api:proxy:user" value="" />
    <add key="CMA.StreamerFeed.Api:proxy:password" value="" />
    -->
    <add key="CMA.StreamerFeed.Api:Postman:File.path" value=".\Postman" />
    <add key="CMA.StreamerFeed.Api:Flurl:AcceptEncoding" value="gzip, deflate, br" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
